registry=https://registry.npmjs.org/
@kioutils:registry=https://pkgs.dev.azure.com/kiosko/_packaging/kioutils/npm/registry/

always-auth=true


; begin auth token
//pkgs.dev.azure.com/kiosko/_packaging/kioutils/npm/registry/:username=kiosko
//pkgs.dev.azure.com/kiosko/_packaging/kioutils/npm/registry/:_password=MjZSTDAwOVFIbnVIUlNLQmlwalZiTVU1UEtFZlpLUXdYWm5oekthWkd0VVRqeEdOeE1XMUpRUUo5OUNCQUNBQUFBQWl0RGUxQUFBU0FaRE9Zb0tX
//pkgs.dev.azure.com/kiosko/_packaging/kioutils/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/kiosko/_packaging/kioutils/npm/:username=kiosko
//pkgs.dev.azure.com/kiosko/_packaging/kioutils/npm/:_password=MjZSTDAwOVFIbnVIUlNLQmlwalZiTVU1UEtFZlpLUXdYWm5oekthWkd0VVRqeEdOeE1XMUpRUUo5OUNCQUNBQUFBQWl0RGUxQUFBU0FaRE9Zb0tX
//pkgs.dev.azure.com/kiosko/_packaging/kioutils/npm/:email=npm requires email to be set but doesn't use the value
; end auth token